.review-cont {
  // padding: 2.5% 15%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  grid-gap: 20px;

  @media only screen and (max-width: 300px) {
    padding: unset;
  }
  .person {
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
    h4 {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      letter-spacing: 0.02em;
      color: #474747;
      text-transform: capitalize;
    }
    .state-role {
      span {
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.05em;

        color: #535353;
      }
      .role {
        border-radius: 4px;
        padding: 1.8px 0;
      }
      .customer {
        background: #eef8ff;
        color: #0d019a;
      }
      .vendor {
        color: #049a01;
        background: #f0ffee;
      }
    }
  }
  @media only screen and (max-width: 500px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
